h1 {
	font-family: 'Open Sans', sans-serif;
    font-size: 70px;
	font-weight: 300;
	margin-left: 1.66%;
    margin-right: 1.66%;
	/*text-transform: uppercase;*/
	border-bottom: 2px solid #f1f1f1;
	/*width: 30%;*/
	padding-bottom: 20px;
    text-align: center;

}


.banner {
	margin: auto;
	/* width: 15%; */
	/*float: left;*/
	/* margin-left: 1.66%; */
    /* margin-right: 1.66%; */
}

img {
	width: 85%;
	margin: auto;
    opacity: 0.5;
    filter: alpha(opacity=50); /* For IE8 and earlier */
}

img:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
}
